.main {
  padding-top: 3.5rem;
  height: 100vh;
  padding-top: 3.5rem;
}

.main__wrapper {
  min-height: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2b2b2b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.side__panel {
  position: fixed;
  padding-top: 5rem;
  height: 100%;
  min-width: 20rem;
  max-width: 22rem;
  background-color: #252525;
  -webkit-transform: all .5s;
          transform: all .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.side__panel a {
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
}

.toggle__side__panel {
  -webkit-transform: translate(-20rem);
          transform: translate(-20rem);
}

.main__content {
  padding: 1rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20rem;
}

.task__card__title {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.task__card__title-time {
  color: #fff;
}

.task__card__title:hover::after {
  content: '\f04a';
  font-family: FontAwesome;
  color: #fff;
  font-size: 1rem;
  margin-left: .5rem;
}

.task__card__title-block button {
  cursor: pointer;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  border: none;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

.task__card__title-block__save {
  color: #fff;
  background-color: #e41313;
}

.task__card__body {
  margin-top: 4rem;
}

.task__card__title-input {
  padding: .3rem;
  background-color: inherit;
  border: 1px solid #929090;
  border-radius: .4rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.add__task {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  color: #e41313;
}

.add__task:hover {
  opacity: .8;
}

.add__task:hover::before {
  opacity: .8;
}

.add__task::before {
  content: '\2b';
  font-family: FontAwesome;
  color: inherit;
  font-size: 1.2rem;
}

.task__list {
  margin: .5rem;
  padding: 0;
}

.task__list-btn {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #929090;
  border-radius: 50%;
  margin-top: .5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.task__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .5rem;
  border-bottom: 1px solid #929090;
  margin-bottom: .5rem;
}

.task__list__content {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.task__list__content:hover {
  opacity: .8;
}

.task__list__time {
  color: #747474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.task__list__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.task__list-delete {
  padding-top: 1rem;
  margin-left: 1rem;
}

.task__list-delete:hover {
  opacity: .8;
}

.task__list-delete::before {
  cursor: pointer;
  content: '\f05e';
  font-family: FontAwesome;
  color: #fff;
  font-size: 1.5rem;
}

.task__list__fields {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.task__list__title {
  color: #747474;
  font-size: 1.2rem;
  font-weight: 600;
}

.task__list__text {
  color: #747474;
}

.new__task {
  margin-top: 1rem;
  display: block;
  padding: 1rem;
  background-color: #252525;
  border: 1px solid #161616;
  border-radius: 1rem;
  width: 100%;
}

.new__task__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .5rem;
}

.new__task__fields input {
  border: none;
  background-color: inherit;
  color: #747474;
}

.new__task__fields input::-webkit-input-placeholder {
  color: #747474;
}

.new__task__fields input:-ms-input-placeholder {
  color: #747474;
}

.new__task__fields input::-ms-input-placeholder {
  color: #747474;
}

.new__task__fields input::placeholder {
  color: #747474;
}

.new__task__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.new__task__title::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: 600;
}

.new__task__title:-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: 600;
}

.new__task__title::-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: 600;
}

.new__task__title::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
}

.new__task__text {
  margin-bottom: 1rem;
}

.new__task__btns {
  margin-top: 1rem;
}

.new__task__btns button {
  cursor: pointer;
  margin-right: .7rem;
  border: none;
  font-size: 1rem;
  padding: .4rem;
  border-radius: .4rem;
  font-weight: 600;
}

.new__task__add {
  color: #fff;
  background-color: #e41313;
}
/*# sourceMappingURL=body.css.map */